<!DOCTYPE html>
<html lang="fr">

<head>
  <link rel="stylesheet" href="css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="http://code.jquery.com/jquery-1.12.0.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/app.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Password Manager</title>
</head>

<body ng-app="passwordManager">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Gestionnaire de mots de passe</a>
      <!--<ul class="left hide-on-med-and-down">
        <li><a href="#">Accueil</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Accueil</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </div>
  </nav>
  <div class="container" ng-controller="ConnectController" ng-hide="connectDiv">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="card col s10 offset-s1 m6 offset-m3 white">
            <div class="card-content black-text">
              <span class="card-title center">Se connecter</span>
              <div class="row">
                <div class="input-field col s12 m8">
                  <i class="material-icons prefix">account_circle</i>
                  <input type="text" id="username" class="validate" ng-model="username">
                  <label for="username">Nom d'utilisateur</label>
                </div>
                <div class="input-field col s12 m8">
                  <i class="material-icons prefix">vpn_key</i>
                  <input type="password" id="password" class="validate" ng-model="password">
                  <label for="password">Mot de passe</label>
                </div>
              </div>
            </div>
            <div class="card-action">
              <a ng-click="connection()" style="cursor: pointer">Connexion</a>
              <a ng-click="showSignup()" class="right" style="cursor: pointer">S'inscrire</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="container" ng-controller="SignupController" ng-hide="signupDiv">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="card col s10 offset-s1 m6 offset-m3 white">
            <div class="card-content black-text">
              <span class="card-title center">S'inscrire</span>
              <div class="row">
                <div class="input-field col s12 m8">
                  <i class="material-icons prefix">account_circle</i>
                  <input type="text" id="username" class="validate" ng-model="username">
                  <label for="username">Nom d'utilisateur</label>
                </div>
                <div class="input-field col s12 m8">
                  <i class="material-icons prefix">vpn_key</i>
                  <input type="password" id="password" class="validate" ng-model="password">
                  <label for="password">Mot de passe</label>
                </div>
              </div>
            </div>
            <div class="card-action">
              <a ng-click="signup()" style="cursor: pointer">Valider</a>
              <a ng-click="showConnect()" class="right" style="cursor: pointer">Se connecter</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div ng-controller="PasswordController" ng-hide="passwordsDiv">
    <div class="row">
      <div class="col s12 m4 l3" ng-repeat="password in passwords">
        <div class="card white">
          <div class="card-content black-text">
            <div class="row">
              <div class="col s6 m5">
                <p>Nom d'utilisateur :</p>
              </div>
              <div class="col s4">
                <p>{{password.username}}</p>
              </div>
            </div>
            <div class="row" ng-init="passwordDiv = true" ng-hide="passwordDiv">
              <div class="col s6 m5">
                <p>Mot de passe :</p>
              </div>
              <div class="col s4">
                <p>{{password.password}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6 m5">
                <p>Site :</p>
              </div>
              <div class="col s4">
                <a href="{{password.website}}">{{password.website}}</a>
              </div>
            </div>
          </div>
          <div class="card-action">
            <a href="#" ng-click="passwordDiv = false; show=true; hide=true;" ng-hide="show">Voir</a>
            <a href="#" ng-click="passwordDiv = true; show=false; hide=false;" ng-show="hide">Cacher</a>
            <a href="#" ng-click="edit(password._id)">Editer</a>
            <a href="#" ng-click="remove(password._id)">Supprimer</a>
          </div>
        </div>
      </div>
    </div>
    
    <div ng-controller="newPasswordController" ng-hide="newPasswordDiv">
    <div class="row">
      <div class="col s12 m4 l3">
        <div class="card white">
          <div class="card-content black-text">
            <span class="card-title">Nouveau mot de passe</span>
            <div class="row">
              <div class="input-field col s8">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" id="username" class="validate" ng-model="username">
                <label for="username">Nom d'utilisateur</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8">
                <i class="material-icons prefix">vpn_key</i>
                <input type="password" id="password" class="validate" ng-model="password">
                <label for="password">Mot de passe</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8">
                <i class="material-icons prefix">http</i>
                <input type="text" id="website" class="validate" ng-model="website">
                <label for="website">Site</label>
              </div>
            </div>
          </div>
          <div class="card-action">
            <a href="#" ng-click="addPassword()">Ajouter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>